


# ignore all original sources
data_to_audit/
foundry_env/

# ignore all internal variables
.env

# ignore python venv
venv-smart-contract-audits/

# ignore all compiled files
compiled/

# and the rest
.vscode